body {
  background-color: black;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

button {
  font-size: 20px;
  background-color: #453f3d;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.25em 0.5em;
  border-radius: 15px;
  font-family: 'Bebas Neue', sans-serif;
}

button:hover {
   background-color: rgb(173, 15, 15);
}

input {
  padding: 0.25em 0.5em;
  border: 3px solid;
  font-size: 20px;
  border-radius: 15px;
  font-family: 'Bebas Neue', sans-serif;
}

select {
  padding: 0.25em 0.5em;
  margin-top: 10px;
  margin-right: 5px;
  /* border: 3px solid; */
  font-size: 20px;
  background-color:#453f3d;
  color: white;
  height: 33px;
  border-radius: 15px;
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  font-size: 350%;
  text-shadow: 5px 5px 7px rgb(124, 16, 16);
}


h1 a {
  text-decoration: none;
  color:white;
}

h1 a:hover {
  color: rgb(195, 18, 18);
}

select:hover{
  background-color: rgb(195, 18, 18);
}