body {
  background-color: black;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

button {
  font-size: 16px;
  background-color: #453f3d;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.25em 0.5em;
}

input {
  padding: 0.25em 0.5em;
  border: 3px solid;
  font-size: 16px;
}

select {
  padding: 0.25em 0.5em;
  margin-top: 10px;
  margin-right: 5px;
  /* border: 3px solid; */
  font-size: 16px;
  background-color:#453f3d;
  color: white;
  height: 33px;
}

h1 {
  font-size: 350%;
}


h1 a {
  text-decoration: none;
  color:white;
}
