.rules {
  background-color: #2a2727;
  padding: 30px 15px;
  margin: 10px 150px 10px 150px;
}

.rules > h4 {
  font-size: 20px;
  margin: 0px;
}

.rules > p {
  margin-top: 5px;
  margin-bottom: 0px;

}

.form > select {
  font-size: 20px;
  text-decoration: none;
  border: 3px solid;
  padding: 2px 3px;
  margin: 3px;
}

.rules > ol {
  font-size: 14px;
  text-align: justify;
  display: table;
  margin: 0 auto;
   
}

