.loserBoard{
    background-color: #5e5b5b;
    width: 450px;
    padding: 10px;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 50px;
    box-shadow: 0 0 55px 15px rgb(99, 22, 22);
        /* not sure how i feel about this */
}

.loserBoard > ol{
  font-size: 18px;
  text-align: center;
  padding: 0;
  list-style-type: none;
  margin: auto;
}

.loserBoard > ol > li:first-of-type {
    color: rgb(124, 16, 16);
    font-weight: bold;
  }